
*{box-shadow: #FFFF}

{
    margin: 4.0px;
    padding:8.0px;
}
.cabecalho {
    border-radius: 150px;
    box-shadow: #AE9494;
}

fieldset {
    margin-left: 45px;
    background-color: #FFFF;
    border: 1px;
    margin-right: 200px;
    color-interpolation-filters: #AE9494

}

body, input, select, textarea, button {
    font-family: arial black;
    font-size: 0,5em;
}

.grupo:before, .grupo:after {
    content: " ";
    display: ruby-base;
    margin-right: 10;
    margin-left: 10;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 0.1em;
    background: #FEFCAADD
}

.campo label {
    margin-bottom: 20em;
    color: #AE9494;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1px;
    

}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    padding: 0.1em;
    border: 0.2px solid #EEED;
    box-shadow: #AE9494
    display: inline;
    align-content: center;
}

.campo select option {
    padding-right: 3em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus .campo:hover {
    background: "#FF"  ;
}

.campo label.checkbox .campo:hover{
    color:#AE9494;
    display: inline-block;

    margin-right: 05em;
}

.botao {
    font-size: 0.0em;
    background:#FFF;
    border:6;
    margin-bottom: 10em;
    color: #AE9494;
    padding: 0.1em 0.1em;
        text-shadow: 1px 1px 1px rgba(0,0,1,1.1);
}

.botao:hover {
    background: #AE9494;
    text-shadow: none;
}

.botao, select, label.checkbox {
    cursor: pointer;
}

